@media screen and (max-width: 640px) {
 
img{
max-width: 100%;
height: auto;
width:auto;
}


h1{
    font-family:"Arial Black";
    size:20px;
    color:red;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
    text-decoration:none;
    text-shadow:1px 1px 1px #fff;
}
ul.center{
    padding-top:0px;
    padding-bottom:0px;
    text-align:center;
}

}
body{
    width:80%;
    text-align:center;
}
.top-wrapper{
    height:450px;
    background-image:url(画像/greenday__2_.jpeg);
    background-position: center;
    background-size:cover;
}
.momo{
      width:300px;
  }
img{
      text-align:center;
      size:cover;
      width:1000px;
  }
  .header{
      background-color:#fff;
  }
  
a{
    color:red;
}
td{
    text-align:center;
}
h3{
    font-style: italic;
    text-align:center;
    -webkit-text-stroke:1px #000;
    color:yellow;
    font-size:50px;
    font-family:"Bebas Neue";
}
td.father{
    font-size:20px;
}
li{
    
    text-shadow:1px 1px 1px black;
    float:left;
    list-style:none;
    padding:15px;
}
h3.margin{
    margin-bottom:0;
}
a.margin{
    font-style:italic;
    font-family:"Bebes Neue";
    text-decoration:none;
    -webkit-text-stroke:1px #000;
    font-size:40px;
    color:red;
}
a.blue{
    color:#5ea9f0;
}
h4{
    background-color:white;
    color:#5ea9f0;
    padding: 10px; 
    border: 1px solid #333333; 
    border-radius: 10px;
}
h2{
    text-decoration: none;
    color:#000;
    font-size:19px;
    font-style:bold;
}
div{
    text-align:center;
    size:contain;
   
}
.resizeimage{
    width:50%;
}
h5{
    font-size:30px;
    background-color:black;
    color:red;
    padding: 10px; 
    border: 1px solid #fff; 
    border-radius: 10px;
    font-style:italic;
}
img.img{
    width:20%;
}

img.size{
    width:50px;
}
a.header{
    text-decoration:none;
}
p.news{
    color:white;
    text-shadow: 1px 1px 1px #000;
}
td.border{
    border:solid 1px white;
}
.pagetop{
        position: fixed;
        bottom: 0px;
        right: 50px;
        z-index: 0;
    }
li.footer{
    list-style:none;
}
footer{
    background-color:white;
}
p.footer{
    color:black;
}
a.footer{
    text-decoration:none;
    color:black;
    font-size: 13px;
}
.apple{
    background-color: #ffffff;
}

}
